#intro_search {
    width: calc(100% - 80px);
    height: calc(330px - 80px);
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 20px 18px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

#intro_search_part1 {
    width: 570px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#intro_search_part2 {
    background-color: #D9D9D9;
    width: 630px;
    height: 100%;
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px 0px rgba(0,0,0,0.4);
}

#intro_search_part1A_el1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    margin-left: 15px;
    color: rgb(61, 61, 61);
}

#intro_search_part1A_el2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(61, 61, 61);
}

#intro_search_part1B {
    width: 100%;
    height: calc(60px - 10px);
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro_search_part1B_el1 {
    width: calc(140px - 30px);
    height: 100%;
    background-color: #b9b9b9;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
}

#intro_search_part1B_el2 {
    width: calc(100% - 200px);
    padding-left: 20px;
    height: 100%;
    border: none;
    box-shadow: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: rgba(61, 61, 61);
}

#intro_search_part1B_el2:focus {
    outline: none;
}

::placeholder {
    color: rgba(61, 61, 61, 0.397);;
  }

#intro_search_part1B_el3 {
    width: 50px;
    height: 100%;
    background-color: #036635;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#intro_search_part1B_el3:hover {
    background-color: #024f29;
}

@media screen and (max-width: 1325px) and (min-width: 860px) {
    #intro_search_part2 {
        width: 45%;
    }

    #intro_search_part1 {
        width: 50%;
    }
}

@media screen and (max-width: 859px) and (min-width: 740px) {
    #intro_search_part2 {
        width: 45%;
    }

    #intro_search_part1 {
        width: 50%;
    }

    #intro_search_part1A_el1 {
        font-size: 28px;
    }

    #intro_search_part1B_el1 {
        width: calc(130px - 30px);
    }

    #intro_search_part1B_el2 {
        width: calc(100% - 190px);
        padding-left: 20px;
    }
}

@media screen and (max-width: 739px) and (min-width: 510px) {
    #intro_search {
        width: calc(100% - 60px);
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #intro_search_part2 {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    #intro_search_part1 {
        width: 100%;
        height: 250px;
    }

    #intro_search_part1A_el1 {
        font-size: 30px;
        margin-left: 0px;
        width: 90%;
    }

    #intro_search_part1A_el2 {
        font-size: 18px;
        margin-top: 10px;
        margin-left: 0px;
    }

    #intro_search_part1B {
        width: calc(100% - 10px);
        height: calc(60px - 10px);
        padding: 5px;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 509px) and (min-width: 435px) {
    #intro_search {
        width: calc(100% - 60px);
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #intro_search_part2 {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    #intro_search_part1 {
        width: 100%;
        height: 280px;
    }

    #intro_search_part1A_el1 {
        font-size: 30px;
        margin-left: 0px;
        width: 90%;
    }

    #intro_search_part1A_el2 {
        font-size: 18px;
        margin-top: 10px;
        margin-left: 0px;
    }

    #intro_search_part1B {
        width: calc(100% - 10px);
        height: calc(60px - 10px);
        padding: 5px;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 434px) {
    #intro_search {
        width: calc(100% - 60px);
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #intro_search_part2 {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
    }

    #intro_search_part1 {
        width: 100%;
        height: 300px;
    }

    #intro_search_part1A_el1 {
        font-size: 28px;
        margin-left: 0px;
        width: 100%;
    }

    #intro_search_part1A_el2 {
        font-size: 18px;
        margin-top: 10px;
        margin-left: 0px;
    }

    #intro_search_part1B {
        width: calc(100% - 10px);
        height: calc(60px - 10px);
        padding: 5px;
        border-radius: 7px;
        border: 1px solid #D9D9D9;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #intro_search_part1B_el1 {
        width: calc(110px - 20px);
        padding-left: 10px;
        padding-right: 10px;
    }
}