#intro_search {
    width: calc(100% - 80px);
    height: calc(330px - 50px);
    margin-left: 30px;
    margin-right: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro_search_part1 {
    width: 570px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#intro_search_part2 {
    background-color: #D9D9D9;
    width: 630px;
    height: 100%;
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px 0px rgba(0,0,0,0.4);
}

#intro_search_part1A_el1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    margin-left: 15px;
    color: rgb(61, 61, 61);
}

#intro_search_part1A_el2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(61, 61, 61);
}

#intro_search_part1B {
    width: 100%;
    height: calc(70px - 10px);
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro_search_part1B_el1 {
    width: calc(180px - 30px);
    height: 100%;
    background-color: #b9b9b9;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
}

#intro_search_part1B_el2 {
    width: calc(100% - 260px);
    padding-left: 20px;
    height: 100%;
    border: none;
    box-shadow: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: rgba(61, 61, 61);
}

#intro_search_part1B_el2:focus {
    outline: none;
}

::placeholder {
    color: rgba(61, 61, 61, 0.397);;
  }

#intro_search_part1B_el3 {
    width: 60px;
    height: 100%;
    background-color: #036635;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#intro_search_part1B_el3:hover {
    background-color: #024f29;
}