#main-stickers {
    width: calc(100% - 200px);
    height: auto;
    background-color: #ffffff;
    z-index: 1;
    padding: 100px;
}

#container-box-stickers {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 40px;
}

.box-main-stickers {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-main-stickers:hover {
    background-color: #ececec;
}

.box-main-el1-stickers {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-stickers {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img-stickers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;         
}

.box-main-el2-stickers {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    color: #656461;
}

.box-main-el2-animated {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    color: #656461;
    margin-top: 5px;
}












.modal-overlay-stickers {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .modal-content-stickers {
    background: white;
    padding: 0px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
    backdrop-filter: blur(10px);
    border: solid 0.5px #656461;
    font-family: "Inter", sans-serif;
    position: fixed;
    bottom: 10px;
    width: 1000px;
    height: 200px;
  }

  .modal-placement-stickers {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .modal-button-stickers {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    border-radius: 20px;
    border: none;
    width: 25px;
    height: 25px;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .modal-placement-el1-stickers {
    width: 320px;
    height: calc(100% - 40px);
    margin: 20px;
  }

.modal-placement-el1-box1-stickers {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*
.modal-placement-el1-box1-icon-stickers {
  height: calc(100% - 40px);
  padding: 0px;
  width: calc(40% - 40px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: red;
  overflow: hidden;
  position: relative;
}

.modal-placement-el1-box1-icon-stickers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
*/
.modal-placement-el1-box1-name-stickers {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #656461;
  width: 50%;
}

.icon-container-stickers {
  width: 100%;
  height: 100%;
}

.img-modal-stickers {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.img-modal-stickers img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;         
}

.video-modal-stickers {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.video-modal-stickers video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;         
}

.modal-placement-el1-box2-stickers {

  font-size: 12px;
  color: #656461;
}

.modal-placement-el2-stickers {
  width: 100%;
  height: calc(100% - 40px);
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.modal-placement-el2-box1-stickers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-placement-button-content-stickers {
  background-color: white;
  color: #024f29;
  border: solid 0.5px #024f29;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

.modal-placement-button-content-stickers.selected {
  background-color: #024f29;
  color: white;
}

.modal-placement-el2-box2-stickers {
  width: calc(100% - 100px);
  border: solid 0.5px #024f29;
  border-radius: 8px;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  padding-right: 90px;
  background-color: #024f29;
  position: relative;
}

.modal-placement-button-download-content-stickers {
  background-color: white;
  color: #024f29;
  position: absolute;
  right: 10px;
  top: 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.modal-placement-button-download-content-animated {
  background-color: white;
  color: #024f29;
  position: absolute;
  right: 10px;
  top: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.modal-placement-button-copying-img-content-stickers {
  background-color: white;
  color: #024f29;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.modal-placement-el2-box2-stickers-title {
  font-size: 20px;
  color: white;
}

.modal-placement-el2-box2-stickers-body {
  font-size: 16px;
  font-weight: 200;
  margin-top: 10px;
}

.social-button-box {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}

.social-button-copy {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: none;
  cursor: pointer;
  margin-right: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.copied-message {
  margin-top: 0px;
  color: white;
  font-size: 13px;
  font-weight: 100;
}


@media screen and (max-width: 1040px) and (min-width: 960px){

    .modal-content-stickers {
      background: white;
      padding: 0px;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
      backdrop-filter: blur(10px);
      border: solid 0.5px #656461;
      font-family: "Inter", sans-serif;
      position: fixed;
      bottom: 10px;
      width: calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px;
      height: 200px;
    }
}

@media screen and (max-width: 959px) and (min-width: 620px){

  .modal-content-stickers {
    background: white;
    padding: 0px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
    backdrop-filter: blur(10px);
    border: solid 0.5px #656461;
    font-family: "Inter", sans-serif;
    position: fixed;
    bottom: 10px;
    width: 600px;
    margin-left: 15px;
    margin-right: 15px;
    height: 400px;
  }

  .modal-placement-stickers {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .modal-placement-el2-box2-stickers {
    width: 460px;
    border: solid 0.5px #024f29;
    border-radius: 8px;
    margin-left: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    padding-right: 90px;
    background-color: #024f29;
    position: relative;
    height: calc(100% - 20px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 619px) {

  .modal-content-stickers {
    background: white;
    padding: 0px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
    backdrop-filter: blur(10px);
    border: solid 0.5px #656461;
    font-family: "Inter", sans-serif;
    position: fixed;
    bottom: 10px;
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    height: 480px;
  }

  .modal-placement-stickers {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .modal-placement-el2-box2-stickers {
    width: 220px;
    border: solid 0.5px #024f29;
    border-radius: 8px;
    margin-left: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    padding-right: 90px;
    background-color: #024f29;
    position: relative;
    height: calc(100% - 20px);
    margin-bottom: 20px;
  }












  .modal-placement-el2 {
    width: 100%;
    height: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .modal-placement-el2-box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .modal-placement-button-content {
    background-color: white;
    color: #024f29;
    border: solid 0.5px #024f29;
    border-radius: 20px;
    width: 50px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
  }

  .modal-placement-el1-box1-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #656461;
    width: 100%;
  }


  .modal-placement-el1 {
    width: 320px;
    height: 200px;
    margin: 20px;
    margin-bottom: 0px;
  }

  .modal-placement-el2-box2 {
    width: 220px;
    border: solid 0.5px #024f29;
    border-radius: 8px;
    margin-left: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    padding-right: 90px;
    background-color: #024f29;
    position: relative;
    height: 100%;
  }

  .plugin-component1-el1 {
    color: #024f29;
    background-color: white;
    font-weight: 400;

    height: 38px;
    margin-bottom: 5px;
    padding-left: 3px;
  }
}