#main {
    width: calc(100% - 200px);
    height: auto;
    background-color: #ffffff;
    z-index: 1;
    padding: 100px;
}

#container-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 40px;
}

.box-main {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-main:hover {
    background-color: #ececec;
}

.box-main-el1 {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.box-main-el2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    color: #656461;
}

.modal-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
.modal-content {
  background: white;
  padding: 0px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
  backdrop-filter: blur(10px);
  border: solid 0.5px #656461;
  font-family: "Inter", sans-serif;
  position: fixed;
  bottom: 10px;
  width: 1000px;
  height: 200px;
}

  .modal-placement {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .modal-button {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    border-radius: 20px;
    border: none;
    width: 25px;
    height: 25px;
    background-color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .modal-placement-el1 {
    width: 320px;
    height: calc(100% - 40px);
    margin: 20px;
  }

.modal-placement-el1-box1 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.modal-placement-el1-box1-icon {
  height: calc(100% - 40px);
  padding: 20px;
  width: calc(40% - 40px);
}

.modal-placement-el1-box1-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #656461;
  width: 50%;
}

.icon-container {
  width: 100%;
  height: 100%;
}

.modal-placement-el1-box2 {

  font-size: 12px;
  color: #656461;
}

.modal-placement-el2 {
  width: 100%;
  height: calc(100% - 40px);
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.modal-placement-el2-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-placement-button-content {
  background-color: white;
  color: #024f29;
  border: solid 0.5px #024f29;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

.modal-placement-button-content.selected {
  background-color: #024f29;
  color: white;
}

.modal-placement-el2-box2 {
  width: calc(100% - 100px);
  border: solid 0.5px #024f29;
  border-radius: 8px;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  padding-right: 90px;
  background-color: #024f29;
  position: relative;
}

.modal-placement-button-copy-content {
  background-color: white;
  color: #024f29;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}



@media screen and (max-width: 1040px) and (min-width: 880px){

  .modal-content {
    background: white;
    padding: 0px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
    backdrop-filter: blur(10px);
    border: solid 0.5px #656461;
    font-family: "Inter", sans-serif;
    position: fixed;
    bottom: 10px;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    height: 200px;
  }
}


.plugin-component1-el1 {
  color: #024f29;
  background-color: white;
  font-weight: 400;

  height: 18px;
  margin-bottom: 5px;
  padding-left: 3px;
}

.plugin-component1-el2 {
  background-color: white;

  height: 18px;
  padding-left: 3px;
}

.plugin-component1-el2-i1 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el2-i2 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el2-i3 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el2-i4 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el3 {
  background-color: white;

  color: #024f29;
  margin-bottom: 5px;
  padding-left: 3px;
}

.plugin-component1-el3-i1 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el3-i2 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el3-i3 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el3-i4 {
  color: #024f29;
  font-style: normal;
}

.plugin-component1-el3-i5 {
  background-color: white;
  color: #024f29;
  font-style: normal;
  height: 18px;
  padding-left: 3px;
  padding-right: 3px;
}



.plugin-component2-el1 {
  color: #024f29;
  background-color: white;
  font-weight: 400;

  height: 18px;
  margin-bottom: 5px;
  padding-left: 3px;
}

.plugin-component2-el2 {
  background-color: white;

  height: 18px;
  color:#024f29;
}

.plugin-component2-el2-i1 {
  background-color: white;
  color: #024f29;
  font-style: normal;
  height: 18px;
}

.plugin-component2-el2-i2 {

  background-color: white;
  color: #024f29;
  font-style: normal;
  height: 18px;
}



.plugin-component3-el1 {
  color: #024f29;
  background-color: white;
  font-weight: 400;
  height: 18px;
  margin-bottom: 5px;
  padding-left: 3px;
}

.plugin-component3-el2 {
  background-color: white;
}

.plugin-component3-el2-i1 {
  background-color: white;
  color: #024f29;
  font-style: normal;
  height: 18px;
  padding-left: 0px;
  padding-right: 3px;
}

.plugin-component3-el3 {
  background-color: white;
  margin-top:3px;
}

.plugin-component3-el3-i1 {
  background-color: white;
  color: #024f29;
  font-style: normal;
  height: 18px;
  padding-left: 0px;
  padding-right: 3px;
}


.plugin-component2-el3-i5-wrapper {
  display: block;
  max-width: 100%; /* or set a fixed width like 300px */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: white;
  color: #024f29;
  font-style: normal;
  line-height: 18px;
}
/*
.react-text {
  display: inline;
  white-space: nowrap;
}
*/

@media screen and (max-width: 879px) and (min-width: 620px){

  .modal-content {
    background: white;
    padding: 0px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
    backdrop-filter: blur(10px);
    border: solid 0.5px #656461;
    font-family: "Inter", sans-serif;
    position: fixed;
    bottom: 10px;
    width: 600px;
    margin-left: 15px;
    margin-right: 15px;
    height: 400px;
  }

  .modal-placement {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .modal-placement-el2 {
    width: 100%;
    height: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .modal-placement-el2-box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .modal-placement-button-content {
    background-color: white;
    color: #024f29;
    border: solid 0.5px #024f29;
    border-radius: 20px;
    width: 50px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
  }

  .modal-placement-el1-box1-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #656461;
    width: 100%;
  }


  .modal-placement-el1 {
    width: 320px;
    height: 200px;
    margin: 20px;
    margin-bottom: 0px;
  }

  .modal-placement-el2-box2 {
    width: 460px;
    border: solid 0.5px #024f29;
    border-radius: 8px;
    margin-left: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    padding-right: 90px;
    background-color: #024f29;
    position: relative;
    height: 100%;
  }
}

@media screen and (max-width: 619px) {

  .modal-content {
    background: white;
    padding: 0px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.01); /* Assombrit légèrement */
    backdrop-filter: blur(10px);
    border: solid 0.5px #656461;
    font-family: "Inter", sans-serif;
    position: fixed;
    bottom: 10px;
    width: 350px;
    margin-left: 15px;
    margin-right: 15px;
    height: 480px;
  }

  .modal-placement {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .modal-placement-el2 {
    width: 100%;
    height: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .modal-placement-el2-box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .modal-placement-button-content {
    background-color: white;
    color: #024f29;
    border: solid 0.5px #024f29;
    border-radius: 20px;
    width: 50px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
  }

  .modal-placement-el1-box1-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #656461;
    width: 100%;
  }


  .modal-placement-el1 {
    width: 320px;
    height: 200px;
    margin: 20px;
    margin-bottom: 0px;
  }

  .modal-placement-el2-box2 {
    width: 220px;
    border: solid 0.5px #024f29;
    border-radius: 8px;
    margin-left: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    padding-right: 90px;
    background-color: #024f29;
    position: relative;
    height: 100%;
  }

  .plugin-component1-el1 {
    color: #024f29;
    background-color: white;
    font-weight: 400;

    height: 38px;
    margin-bottom: 5px;
    padding-left: 3px;
  }
}